<ion-view title="Users">
    <ion-content>
        <form ng-submit="submitForm();">
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="user.email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="user.nombre" placeholder="Nombre">
                </label>
                <label class="item item-input">
                    <textarea ng-model="user.comentario" placeholder="Comentario"></textarea>
                </label>
                <button class="button button-positive">
                    Enviar
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>